@import "../../global.scss";
.testimonials {
  background-color: #3a4652;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    font-size: $sectionHeaderFontSize;
    color: $mainColor;
    @include mobile {
      font-size: $mobileSectionHeaderFontSize;
    }
  }
  .container {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile {
      flex-direction: column;
    }

    .card {
      width: 350px;
      height: 65%;
      background-color: $mainColor;
      border-radius: 15px;
      box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.8);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      transition: all 0.5s ease-in;
      margin: 30px 0px;

      @include mobile {
        width: 300px;
        height: 50vw;
        margin: 10px;
        padding: 5px;
      }
      &.featured {
        width: 400px;
        height: 70%;
        margin: 70px 50px;
        @include mobile {
          width: 300px;
          height: 50vw;
          margin: 5px;
        }
      }
      &:hover {
        transform: scale(1.1);
        @include mobile {
          transform: scale(1);
        }
      }

      .top {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
        @include mobile {
          height: 85px;
        }
        img {
          &.left,
          &.right {
            height: 30px;
          }
          &.user {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            object-fit: cover;
            margin: 0 40px;

            @include mobile {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
      .center {
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(208, 233, 236);
        font-size: 20px;
        @include mobile {
          height: 100px;
          font-size: 12px;
          padding: 5px;
        }
      }
      .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h3 {
          margin: 10px 0px;
          @include mobile {
            height: 30px;
            font-size: 12px;
            margin-top: 5px;
            margin-bottom: 0;
          }
        }
        h4 {
          color: gray;
          @include mobile {
            height: 25px;
            font-size: 10px;
            margin: 0px 0px;
          }
        }
      }
    }
  }
}
